@font-face {
	font-family:"IRANSansWeb_Medium";
	src: url( "http://laravel/assets/fonts/IRANSansWeb_Medium.eot" );
	src: local( "☺" ),
	url( "http://laravel/assets/fonts/IRANSansWeb_Medium.woff" )
	format( "woff" ),
	url( "http://laravel/assets/fonts/IRANSansWeb_Medium.ttf" )
	format( "truetype" );
}


@font-face {
	font-family:"IRANSansWeb_Light";
	font-weight:normal;
	src: url( "http://laravel/assets/fonts/IRANSansWeb_Light.eot" );
	src: local( "☺" ),
	url( "http://laravel/assets/IRANSansWeb_Light.woff" )
	format( "woff" ),
	url( "http://laravel/assets/IRANSansWeb_Light.ttf" )
	format( "truetype" );
}
body{
	font-family:"IRANSansWeb_Light" !important;
}
.navbar .brand {
	font-family: 'IRANSansWeb_Light' !important;
	font-size: 16px;
	padding: 0;
	line-height: 40px;
	color: #000000;
	float: right;
	font-weight: bold;
	margin-left: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

#main-container {
	font-family: 'IRANSansWeb_Light' !important;
	margin-top: 40px;
	margin-bottom: 40px;
}

.api-buttons {
	font-family: 'IRANSansWeb_Light' !important;
	margin-top: 20px;
}

.api-buttons > a {
	font-family: 'IRANSansWeb_Light' !important;
	margin-right: 10px;
}

.price {
	font-size: 25px !important;
	line-height: 26px !important;
	font-family: 'IRANSansWeb_Light' !important;

}

/*span {
	padding: 5px !important;
}*/


.flipkart-navbar-input.col-xs-11 {
	color: black;
}
.fpd-btn.fpd-primary-text-color span {
	padding: 5px;
}